nbproject
._*
.vagrant
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
.bowerrc
.gitmodules
vendor
composer.phar
court-interpreters-office.sublime-*
data/*
dev.local.conf
config/*gpg
bower.json
codeception.yml
bin/scratch/*sh
public/test.php
node_modules
*/sdny/*json
**/forms.json
doc/api

test.error.log
zend-developer-tools.local-development.php
doc/*cache*
doc/parser*
bin/sdny/excel/warnings*
bin/scratch
