<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="module/InterpretersOffice/test/Bootstrap.php">
    <testsuites>
        <testsuite name="CourtInterpretersOffice Test Suite">
            <directory>./module/InterpretersOffice/test</directory>
            <exclude>./module/InterpretersOffice/test/AbstractControllerTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
