<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="true" bootstrap="module/InterpretersOffice/test/Bootstrap.php">
    <testsuites>
        <testsuite name="CourtInterpretersOffice Test Suite">
            <directory>./module/InterpretersOffice/test</directory>
            <directory>./module/Admin/test</directory>
            <exclude>./module/InterpretersOffice/test/AbstractControllerTest.php</exclude>
            <exclude>./module/Admin/test/WebDriver/</exclude>
            <!-- -->
            <exclude>./module/Admin/test/Controller/EventsControllerTest.php</exclude>
            <!-- -->
			<exclude>./module/InterpretersOffice/test/codecept/</exclude>
        </testsuite>
    </testsuites>
	<php>
	  <ini name="error_log" value="./data/test.error.log"/>
	  <ini name="log_errors" value="On"/>
	</php>
</phpunit>
