body {
    padding-top: 0px;
    /*padding-bottom: 40px;*/
}

.validation-error {
    padding: 5px;
    color : #a9302a;
    margin-bottom: 0;
}
.form-group label {
    padding-right: 1em;
}
/**
interpreters form
@todo move to its own file?
*/
.languages-header
{
    border-bottom: 1px solid #afd9ee;
    margin-top: .5em;
    margin-bottom: .5em;
}
div.language-name {
    font-size : 1.25em;
}
div.remove-language {
    padding-top:.4em;
}

#event-form span.deft-name:hover {
    text-decoration : underline;
    cursor: pointer;
    color : #007bff;
}

tr.event-cancelled {
    text-decoration: line-through;
    text-decoration-color: red; /*515457*/
}
/*
experimental, borrowed from http://stackoverflow.com/questions/40259391/bootstrap-form-inline-for-viewports-that-are-less-than-768px-wide\
so that interpreter-languages won't stack and look crappy on a small viewport
*/

@media (max-width: 767px) {
  .form-inline > .checkbox {
    margin-left: 5px;
    margin-right: 5px;
  }
  .form-inline .form-control {
    width: auto;
    display: inline-block;
  }
  .form-inline label {
    margin-right: 5px;
  }
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

/* experimental: not sure why these things need to be 100% width */
@media (min-width: 768px) {
    form input, form select, form textarea,
    form .validation-error,
    form .interpreters-assigned,
    form .defendant-names
    {
        /*max-width: 75%;*/
    }
    form #languages {
       margin-left: 10%;
       margin-right: 10%;
    }
}
/* form labels align right unless width makes form controls and labels stack */
/* @todo get rid of this! use text-{md}-right instead */
@media (min-width: 576px) {
    form label { text-align:right;}
}
form label {
    font-weight: normal;
}

form .interpreter-language {
   padding-top:.25em;
   padding-bottom:.25em
}
.form-event {
    max-width : 1000px;
}
.form-event label { padding-right: 0;}

.btn:hover { cursor: pointer;}

.result li.list-group-item:hover {
    background-color: #fdf5ce;
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
}

ul.subgroup {
    max-height: 500px;
    overflow-y : scroll;
}

/* schedule ---------------------------- */
td.interpreters-assigned { padding : 0; }
td.interpreters-assigned div { padding: .3rem; }
td.interpreters-assigned div:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}
/* event details view ---------------------------- */
.event-details div {
    border-bottom: 1px solid #dee2e6;
    /*#515457*/
    /*padding : .2rem;*/
    padding-top: .2rem;
}
.event-details div:last-child {
    border-bottom: none ;
}
.event-details a {
    border-right : 2px solid #dee2e6 !important;
}

/* maybe do away with this, and add some margin instead? */
.btn:focus, .btn:active {
  outline: none ;
  box-shadow: none ;
  text-decoration: underline;
}
.btn:disabled {
    text-decoration: none;
}
/*
note to self: gray #515457
*/
span.avoidwrap {
    display:inline-block !important;
    white-space:nowrap;
}

tr.inactive { /*e.g., for judges/index */
    display: none;
}

li.defendant span:hover { cursor : pointer; text-decoration: underline; color : rgb(0, 123, 255)}

ul.ui-autocomplete {
    background-image: none;
    background-color: white;
    font-size: 100% ;
}

/*  does NOT fucking work w/o "important" even though our style.css
   is loaded ~after~ jquery-ui.css. why???
*/
ul.ui-autocomplete .ui-state-active
 {
	background: none !important;
	font-weight: inherit !important;
	color: rgb(0, 123, 255) !important;
}

td.defendants { /*  div.defendants */
    line-height: 1.25rem;
}

div.event-details .col-sm-4 {
    padding-left: 5px;
}

#navbar-collapse ul > li {
/*    border-left: 1px solid #ACC4D2;*/
}

button.btn-success {
    /*
    background-image: linear-gradient(rgb(98, 196, 98), rgb(81, 163, 81));
    background-color: rgb(91, 183, 91);
     */

    /*element {
    	display: inline-block;
    	font-size: 14px;
    	line-height: 20px;
    	text-align: center;
    	vertical-align: middle;
    	text-decoration-line: none;
    	text-decoration-style: solid;
    	text-decoration-color: currentcolor;
    	color: rgb(255, 255, 255);
    	text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
    	background-color: rgb(91, 183, 91);
    	background-image: linear-gradient(rgb(98, 196, 98), rgb(81, 163, 81));
    	background-repeat: repeat-x;
    	border-top-left-radius: 4px;
    	border-top-right-radius: 4px;
    	border-bottom-right-radius: 4px;
    	border-bottom-left-radius: 4px;
    	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px;
    	margin-top: auto;
    	margin-right: 1em;
    	margin-bottom: auto;
    	margin-left: 1em;
    	padding-top: 4px;
    	padding-right: 12px;
    	padding-bottom: 4px;
    	padding-left: 12px;
    	border-top-color: rgba(0, 0, 0, 0.1);
    	border-right-color: rgba(0, 0, 0, 0.1);
    	border-bottom-color: rgba(0, 0, 0, 0.25);
    	border-left-color: rgba(0, 0, 0, 0.1);
    	border-top-style: solid;
    	border-right-style: solid;
    	border-bottom-style: solid;
    	border-left-style: solid;
    	border-top-width: 1px;
    	border-right-width: 1px;
    	border-bottom-width: 1px;
    	border-left-width: 1px;
    }*/
}
