body {
    padding-top: 0px;
    /*padding-bottom: 40px;*/
}

.validation-error {
    padding: 5px;
    color : #a9302a;
    margin-bottom: 0;
}
.form-group label {
    padding-right: 1em;
}
/** 
interpreters form
@todo move to its own file? 
*/
.languages-header
{ 
    border-bottom: 1px solid #afd9ee;
    margin-top: .5em;
    margin-bottom: .5em;
}
div.language-name {
    font-size : 1.25em;
}
div.remove-language {
    padding-top:.4em;
}


/* 
experimental, borrowed from http://stackoverflow.com/questions/40259391/bootstrap-form-inline-for-viewports-that-are-less-than-768px-wide\
so that interpreter-languages won't stack and look crappy on a small viewport
*/

@media (max-width: 767px) {
  .form-inline > .checkbox {
    margin-left: 5px;
    margin-right: 5px;
  }
  .form-inline .form-control {
    width: auto;
    display: inline-block;
  }
  .form-inline label {
    margin-right: 5px;
  }
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}
/* experimental: not sure why these things need to be 100% */
@media (min-width: 768px) {
    form input, form select, form textarea {
        max-width: 75%;
    }
}

form label {
    font-weight: normal;
}

/* stuff that came with the skeleton app*/
/*
.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}
*/