body {
    padding-top: 0px;
    /*padding-bottom: 40px;*/
}

.validation-error {
    padding: 5px;
    color : #a9302a;
    margin-bottom: 0;
}
.form-group label {
    padding-right: 1em;
}
/** 
interpreters form
@todo move to its own file? 
*/
.languages-header
{ 
    border-bottom: 1px solid #afd9ee;
    margin-top: .5em;
    margin-bottom: .5em;
}
div.language-name {
    font-size : 1.25em;
}
div.remove-language {
    padding-top:.4em;
}


/* 
experimental, borrowed from http://stackoverflow.com/questions/40259391/bootstrap-form-inline-for-viewports-that-are-less-than-768px-wide\
so that interpreter-languages won't stack and look crappy on a small viewport
*/

@media (max-width: 767px) {
  .form-inline > .checkbox {
    margin-left: 5px;
    margin-right: 5px;
  }
  .form-inline .form-control {
    width: auto;
    display: inline-block;
  }
  .form-inline label {
    margin-right: 5px;
  }
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

/* experimental: not sure why these things need to be 100% width */
@media (min-width: 768px) {
    form input, form select, form textarea, 
    form .validation-error,
    form .interpreters-assigned,
    form .defendant-names
    {
        max-width: 75%;
    }
    form #languages {
       margin-left: 10%;
       margin-right: 10%;
    }
}

form label {
    font-weight: normal;
}

form .interpreter-language {
   padding-top:.25em;
   padding-bottom:.25em
}
/* for jquery-ui autocomplete  */
/* https://stackoverflow.com/questions/28285813/style-jquery-autocomplete-in-a-bootstrap-input-field */
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}
/* our innnovation */
.ui-autocomplete > li:hover {
  cursor: pointer;
  background-color: #ffffcc;
}