main  {
    li {
        margin-bottom : .2em;
        margin-top : .2em;
    }
    h1,h2,h3,h4 {
        font-family : Arial, Helvetica, sans-serif;
    }
    max-width : 850px;
    font-family : "Times Roman",

    
    

    // h1,h2,h2,h4,h5,h6 {
    //     font-family : "helvetica",

    // }

}