{
    "interpreters": {
        "optional_elements": {
            "banned_by_persons": "1",
            "BOP_form_submission_date": "0",
            "fingerprint_date": "0",
            "contract_expiration_date": "0",
            "oath_date": "0",
            "security_clearance_date": "0"
        }
    },
    "events": {
        "optional_elements": {
            "end_time": "0"
        }
    },
    "users" : {
        "allow_email_domains" : []
    }
}
