<?php
/**
 * Local Configuration Override for DEVELOPMENT MODE.
 *
 * This configuration override file is for providing configuration to use while
 * in development mode. Run:
 *
 * <code>
 * $ composer development-enable
 * </code>
 *
 * from the project root to copy this file to development.local.php and enable
 * the settings it contains.
 *
 * You may also create files matching the glob pattern `{,*.}{global,local}-development.php`.
 */
use Zend\Mail;

return [
    'view_manager' => [
        'display_exceptions' => true,
    ],
    /** configuration for Zend\Mail */
    'mail' => [
        'transport' => Mail\Transport\File::class,
        'transport_options' => [
            'class' => Mail\Transport\FileOptions::class,
            'options' => [
                'path'     => 'data/mail/',
            ],
        ],
    ],
];
