<?php /** template configuration file */

/**
 * This is one of two (three?) configuration files that must be copied into config/autoload 
 * with the .dist extension removed and edited according to your needs. 
 * 
 * You also have to set a server environment variable "environment" with the value "production".
 */

use Laminas\Mail\Transport\Smtp;
use Laminas\Mail\Transport\SmtpOptions;

return   [
    'doctrine' => [
        'cache' => [
            'redis' => [
                'namespace' => 'Doctrine',
                'instance' => 'Service\Cache\Redis',
            ],
        ],
        'configuration' => [
             'orm_default' => [
                'query_cache' => 'phpfilecache',
                'result_cache' => 'redis',
                'metadata_cache' => 'phpfilecache',
                'hydration_cache' => 'phpfilecache',
             ],
        ],
    ],
    // set this as needed
    'redis' => [
        'host' => 'localhost',
        'port' => 6379,
    ],

    'view_manager' => [
        'display_exceptions' => false,
    ],
    /** configuration for Laminas\Mail https://docs.laminas.dev/laminas-mail/ */
    'mail' => [
        'transport' => Smtp::class,
        'transport_options' => [
            'class' => SmtpOptions::class,
            'options' => [
                'name'     => '',
                'host'     => 'your.stmp.server.com',
                'port'     => 465,
                'connection_class'  => 'login',

                'connection_config' => [
                    'username' => 'your_username',
                    'password' => 'your_password',
                    'ssl'  => 'ssl',
                ],
            ],
        ],
        'from_address' => 'default_from_address@example.org',
        'from_entity' => 'Interpreters Office',
        // optional headers; if set, they will be used;
        // otherwise the above from_xxxx are the default
        // format: 'name'=> 'Proper Name', 'email'=>'you@example.org'
        'Reply-to' => [],
        'Cc'       => [],

    ],
     /** contact information variables for your layout */
    'site' => [
        'contact' => [
            'organization_name' => 'Your Office',
            'organization_locality' => 'Your City',
            'telephone' => 'Your phone number',
            'email' => 'contact@example.org',
            'website' => 'https://interpreters.example.org',
        ],        
    ],
    /**
     *   optional: IP addresses OR host domains (that are on a private network)
     *   from which anonymous users will be allowed to see the interpreters' schedule
     */
    'permissions' => [
        'schedule' => [
            'anonymous_ips_allowed' => [],
            'host_domains_allowed' => [],
        ],
    ],
    'security' => [
        'max_login_failures' => 6,        
    ],
     
    // comment out any of the following optional modules that you do NOT want to enable

    'optional_modules' => [
        // Requests module, for allowing staff outside Interpreters office to 
        // submit and manage their own requests -- strongly recommended
        'InterpretersOffice\Requests',

        // for posting messages for staff use, which are displayed in a box like a Post-it
        // note and can be toggled on and off, resized and moved
        'InterpretersOffice\Admin\Notes',

        // for managing certain tasks that rotate weekly among several people
        'InterpretersOffice\Admin\Rotation',

        // for SDNY-specific data dumping features
        'SDNY\DataExport',
    ],
];