<?php
/**
 * Local Configuration Override for DEVELOPMENT MODE.
 *
 * This configuration override file is for providing configuration to use while
 * in development mode. Run:
 *
 * <code>
 * $ composer development-enable
 * </code>
 *
 * from the project root to copy this file to development.local.php and enable
 * the settings it contains.
 *
 * You may also create files matching the glob pattern `{,*.}{global,local}-development.php`.
 */
use Laminas\Mail;

// set to 'array' to disable
$environment = getenv('environment') ?: 'development';
$doctrine_cache = $environment == 'testing' ? 'array' : 'filesystem';

return [
    'view_manager' => [
        'display_exceptions' => true,
        'display_not_found_reason' => true,
    ],
    
    'doctrine' => [
        'connection' => [
            // Configuration for service `doctrine.connection.orm_default` service
            'orm_default' => [
                // connection parameters, see
                // http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html
                'driverClass' => 'Doctrine\\DBAL\\Driver\\PDOMySql\\Driver',
                'params' => [
                    'host'     => 'mysql',
                    'port'     => '3306',
                    'user'     => 'root',
                    'password' => '123',
                    'dbname'   => 'court_interpreters_office',
                    'charset' => 'utf8mb4',
                    'collate' => 'utf8mb4_unicode_ci',
                ],
            ],
        ],

        'configuration' => [
             'orm_default' => [
                'query_cache' => 'array',
                'result_cache' => 'array',
                'metadata_cache' => 'array',
                'hydration_cache' => 'array',
             ],
        ],
        
        'driver' => [
            'orm_default' => [
                'class' => 'Doctrine\\ORM\\Mapping\\Driver\\DriverChain',
            ],
        ],
    ],

    // Custom logger for development; do not use database logging
    'service_manager' => [
        'factories' => [
            \Laminas\Log\Logger::class => function($container) {
                $writer = new \Laminas\Log\Writer\Stream(__DIR__ . '/../../data/log/app.log.' . date('Y-m-d'), 'a');
                $log = new \Laminas\Log\Logger();
                $log->addWriter($writer);
                
                return $log;
            },
        ],
    ],
    
    
    
    // for production...
    ///*
    // 'mail' => [
    //     'transport' => Mail\Transport\Smtp::class,
    //     'transport_options' => [
    //         'class' => Mail\Transport\SmtpOptions::class,
    //         'options' => [
    //             'name' => 'smtp.uscmail.dcn',
    //             'host' => 'smtp.uscmail.dcn',
    //             //'port' => '',
    //         ],
    //     ],
    //     'from_address' => 'interpreters@nysd.uscourts.gov',
    //     'from_entity' => 'SDNY Interpreters Office',
    // ],
    //*/
    /** configuration for Laminas\Mail */
    'mail' => [
        'transport' => Mail\Transport\File::class,
        'transport_options' => [
            'class' => Mail\Transport\FileOptions::class,
            'options' => [
                'path'     => 'data/mail/',
            ],
        ],
        'from_address' => 'interpreters@dev.interpretersoffice.org',
        'from_entity' => 'Interpreters Office, SDNY',
    ],
    'site' => [
        'contact' => [
            'organization_name' => 'US District Court, SDNY',
            'telephone' => '212 805-0084',
            'organization_locality' => 'New York, NY',
            'email' => 'interpreters@nysd.uscourts.gov',
        ],
    ],
   'permissions' => [
        'schedule' => [
            'anonymous_ips_allowed' => [],
            'host_domains_allowed' => [],
        ],
    ],
    'security' => [
        'max_login_failures' => 6,        
    ],
];
